<p>
In 1968 Tom Schilli was named general manager of Schilli Motor Lines, Inc. located in Delphi, Indiana. Schilli Motor Lines was a bulk carrier hauling fertilizer products, which added a few flatbeds and a few vans to fulfill needs of customers.

That simple business model of listening to customers needs, providing personalized service and growth to meet our customers needs was the cornerstone of Schilli Transportation Services and the birth of truck lines divided by the mode of transportation to fulfill customer demand; Wabash Valley for flatbeds, Schilli Specialized for dedicated service operations of vans and specialty trailers for specific customer needs. Schilli Transportation Services provides transportation consulting for customers by designing and implementing programs for all phases of transportation. Schilli Transportation Services also provides management services in the area of human resources and accounting.

In 1994 the same simple concept of listening to customer needs and providing transportation support launched Schilli Distribution Services to provide warehousing needs for a valued customer.

In 1996 one of WVT’s largest customers had a desire to replace company equipment in the state of Texas, which led to the development of WVT of Texas.

In 1999 Schilli Specialized also added the trailers to provide car-hauling services for auto customers and families wanting to escape the cold by migrating south for the winter months.

In 2001 Collins Moving and Storage was added to the Schilli family to provide relocation services for key personnel at some of our major clients.

Today Schilli Transportation Services is a full service logistics management company supported by 400 power units under contract to provide or fulfill transportation needs including equipment sales and leasing, warehousing and distribution, and transportation for everything from building products to household goods, from steel coils to automobiles, virtually any commodity.

Listening to customer concerns has successfully launched the various Schilli entities throughout the years and we still listen to our customers every day.
</p>