<!doctype html>
<html>
  <head>
    <title>Talking Animals</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/chat.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.emoticons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/embed.js/4.1.3/embed.min.css">
    <!-- javascript includes -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.5.1/socket.io.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/embed.js/4.1.3/embed.min.js"></script>
    <script type="text/javascript" src="/javascript/chatSupport.js"></script>
    <!-- end javascript includes -->
  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Ben's Chat App </h1>
        <h3> now 50% fancier </h3>
      </div>  
      <ul id="messages" class="pre-scrollable text-left"></ul>
      <form action="">
        <input id="m" autocomplete="off" value="Type Message Here"/>
        <button id="chatButton">Send</button>
      </form>
      <ul id="userTyping"></ul>
    </div>
    <div id="TEST1"></div>
    <div id="TEST2"></div>
    <div id="TEST3"></div>
    <div id="TEST4"></div>
    <div id="TEST5"></div>
  </body>
</html>


<!-- TODO 

  chat history
  parse commands from text
  localize time stamps
  emoticons
  when people are typing  (Version 1 added)

-->